.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 20px;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: rgb(162, 153, 153);
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }